<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}
    <title>Django Snacks</title>
    {% endblock title%}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block mainh1%}
        <h1>This is a base page</h1>
        {% endblock mainh1 %}
    </main>
</body>
</html>